.forgot-password-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    background: linear-gradient(to right, #8A2BE2, #FF1493);    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    margin: 0;
    padding: 20px;
    transition: filter 0.5s ease;
    animation: moveBackground 30s infinite linear;
  }
  .register-link-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    text-align: center;
  }
  
  body.monochrome-mode .forgot-password-container {
    filter: grayscale(100%) contrast(100%) brightness(80%);
  }
/* Normal mode (sin filtro) */
.forgot-password-container h2 {
    color: #000; /* Color negro por defecto */
  }
  
  /* Monochrome mode */
  body.monochrome-mode .forgot-password-container h2 {
    color: white; /* Cambia el color de las letras a blanco */
  }