/* Estilo general del slider */
.slider {
    position: relative;
    background: linear-gradient(to right, #8A2BE2, #FF1493); /* Fondo similar al del hero-container */

    width: 100%;
    height: 100vh; 
    margin: 0 auto;
    text-align: center;
    background-color: #f0f0f0; 
    overflow: hidden;
}
  
/* Contenedor principal para el slider */
.slider_content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    width: 100%;
    height: 80%; 
    position: relative;
    padding: 0 10%; 
    overflow: hidden;
}

/* Contenedor de la imagen */
.slider-image-container {
    width: 100%;
    height: 300px;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 10px;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.5);
}
  
/* Estilo de la imagen */
.slider-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.5);
    transition: transform 0.5s ease-in-out;
}
  
.slider-image:hover {
    transform: scale(1.05); 
}
  
/* Contenedor del texto al frente de la imagen */
.slider-text-container {
    position: absolute; 
    bottom: 20px; 
    left: 50%;
    transform: translateX(-50%); 
    background-color: rgba(0, 0, 0, 0.7); 
    color: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.3);
    font-size: 1.5em;
    text-align: center;
    max-width: 80%; 
    line-height: 1.5;
    z-index: 1; 
    white-space: nowrap;
    overflow: hidden;
}
  
/* Efecto de escritura automática */
.slider-text-container .typing {
    display: inline-block;
    border-right: 2px solid white;
    padding-right: 5px;
    white-space: nowrap;
    animation: typing 3s steps(30) 1s forwards, blink 0.75s step-end infinite;
}
  
/* Animación de escritura */
@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}
  
/* Parpadeo del cursor */
@keyframes blink {
    50% {
        border-color: transparent;
    }
}
  
/* Estilos para los títulos y descripciones */
.slider_title {
    font-size: 36px;
    font-weight: 800;
    color: black;
    margin-bottom: 1rem;
    position: relative; /* Necesario para el pseudoelemento */
    display: inline-block;
  }
  
  .slider_title::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -5px;
    width: 50%;
    height: 4px;
    background: linear-gradient(to right, #000, #00aaff); /* Ajusta los colores como desees */
    transform: translateX(-50%);
    transition: width 0.3s;
  }
  
  .slider_title:hover::after {
    width: 100%; /* Cuando el título es hover, la línea se expande */
  }
  
.slider-description {
    margin-top: 10px;
    font-size: 0.5em;
    color: #f1f1f1;
    font-style: italic;
    word-wrap: break-word; 
    word-break: break-word; 
    white-space: normal; 
    line-height: 1; 
}
  
/* Estilo para los botones de navegación */
.nav-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
    z-index: 1;
    font-size: 1.2em;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s, transform 0.3s;
}

.nav-button.left {
    left: 20px;
}

.nav-button.right {
    right: 20px;
}

.nav-button:hover {
    background-color: rgba(0, 0, 0, 0.8);
    transform: scale(1.1);
}

/* ─────────────────────────────── */
/*         MODO OSCURO             */
/* ─────────────────────────────── */

/* Fondo oscuro para el slider */
body.monochrome-mode .slider {
    background: linear-gradient(to right, #121212, #333333);
}

/* Modo oscuro para el contenido del slider */
body.monochrome-mode .slider_title {
    color: #fff;
}


/* Modo oscuro para el contenedor de la imagen */
body.monochrome-mode .slider-image-container {
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.7);
}

/* Modo oscuro para la imagen */
body.monochrome-mode .slider-image {
    filter: brightness(0.8) contrast(1.2);
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.7);
}

/* Modo oscuro para el texto sobre la imagen */
body.monochrome-mode .slider-text-container {
    background-color: rgba(255, 255, 255, 0.1);
    color: #f1f1f1;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.5);
}

/* Modo oscuro para los títulos y descripciones */
body.monochrome-mode .slider-title,
body.monochrome-mode .slider-description {
    color: #f1f1f1;
}

/* Modo oscuro para los botones de navegación */
body.monochrome-mode .nav-button {
    background-color: rgba(255, 255, 255, 0.2);
    color: #f1f1f1;
}

body.monochrome-mode .nav-button:hover {
    background-color: rgba(255, 255, 255, 0.3);
}
body.monochrome-mode .slider_title::after{
    background: linear-gradient(to right, #555, #999);
  }